[submodule "shawnlawsonModule"]
	path = shawnlawsonModule
	url = https://github.com/shawnlawson/shawnmodule.git
[submodule "johnConover"]
	path = johnConover
	url = https://github.com/jbcon/ShadeMe.git
